.store-card {
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
    rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
  position: relative;
  height: 675px;
}

.store-card img {
  padding: 50px;
  height: 70%;
}

.store-card .store-box {
  padding: 20px;
  padding-top: 0;
}

.store-card .store-title {
  font-size: 19px;
}

.store-card .store-price {
  margin-top: "20px";
  /* font-size: "20px"; */
}

.store-card .store-details {
  position: absolute;
  right: 0;
  bottom: 10px;
}

.store-card .store-details a {
  display: flex;
  justify-content: end;

  margin-top: 0px;
  margin-bottom: 0;
  margin-right: 20px;
}

.store-card .store-Add {
  position: absolute;
  left: 0;
  bottom: 10px;
  margin-left: 20px;
}

.store-card button {
  color: #0d8af0;
  transition: 0.3s;
  font-size: 20px;
  border: none;
  background-color: #fff;
}

.store-card a {
  text-decoration: none;
  color: #0d8af0;
  transition: 0.3s;
  font-size: 20px;
}

.store-card a:hover,
.store-card button:hover {
  letter-spacing: 1px;
}

@media screen and (max-width: 768px) {
  .store-card {
    /* height: 650px; */
    height: 500px;
  }

  .store-card img {
    padding: 50px;
    height: 60%;
  }

  .store-card .store-title {
    font-size: 19px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .store-card {
    /* height: 650px; */
    height: 530px;
  }

  .store-card .store-title {
    font-size: 17px;
  }

  .store-card img {
    padding: 50px;
    height: 60%;
  }
}

@media screen and (max-width: 992px) {
  .store-card .store-title {
    font-size: 17px;
  }
  .store-card .store-price {
    font-size: 15px;
  }
  .store-card a,
  .store-card button {
    font-size: 17px;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1200px) {
  .store-card .store-title {
    font-size: 17px;
  }
  .store-card img {
    padding: 50px;
    /* height:60% */
  }
}
